output/
win32port/ipch/
win32port/Debug*/
win32port/Release*/
win32port/server/Debug*/
win32port/server/Release*/
win32port/client/Debug*/
win32port/client/Release*/
win32port/libwebsocketswin32/Debug*/
win32port/libwebsocketswin32/Release*/
win32port/zlib/Debug*/
win32port/zlib/Release*/
*.vcxproj.user
*.opensdf
*.sdf
*.suo

Makefile
autom4te.cache
config.h
config.log
config.status
lib/.deps
lib/.libs
lib/Makefile
lib/libwebsockets.la
*.o
lib/*.o
lib/*.lo
libtool
stamp-h1
test-server/.deps
test-server/.libs
test-server/Makefile
test-server/libwebsockets-test-client
test-server/libwebsockets-test-fraggle
test-server/libwebsockets-test-ping
test-server/libwebsockets-test-server
test-server/libwebsockets-test-server-extpoll
test-server/libwebsockets-test-server.key.pem
test-server/libwebsockets-test-server.pem
